<section>
  <div
    class="flex relative justify-center lg:px-0 max-h-full md:px-12 overflow-hidden">
    <div class="bg-white hidden lg:block lg:flex-1 lg:relative sm:contents">
      <div
        class="w-full absolute bg-white h-full inset-0 object-cover"
        data-nimg="future"
        decoding="async"
        height="1866"
        loading="lazy"
        width="1664">
        <video
          autoplay=""
          class="bg-white absolute max-w-none min-h-full min-w-full w-auto z-10"
          loop=""
          muted=""
          ><source
            src="https://d33wubrfki0l68.cloudfront.net/c906151c5417ee08cea5c68bc4c8823316ba100c/3fe8e/images/desktopgradient.mp4"
            type="video/mp4"
          />Your browser does not support the video tag.</video
        >
      </div>
    </div><div
      class="bg-white px-4 relative flex flex-1 flex-col h-screen lg:py-24 md:flex-none md:px-28 py-10 shadow-2xl sm:justify-center xl:py-36 z-10">
      <div
        class="w-full lg:h-full max-w-md md:max-w-sm md:px-0 md:w-96 mx-auto sm:px-4">
        <div class="flex flex-col">
          <div>
            <a href="/">
              <svg
                width="50"
                height="49"
                viewBox="0 0 30 29"
                fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <g filter="url(#filter0_d_110_851)">
                  <path
                    d="M2 10.66C2 7.24306 2 5.53458 2.67552 4.23415C3.24477 3.13829 4.13829 2.24477 5.23415 1.67552C6.53458 1 8.24306 1 11.66 1H18.34C21.7569 1 23.4654 1 24.7658 1.67552C25.8617 2.24477 26.7552 3.13829 27.3245 4.23415C28 5.53458 28 7.24306 28 10.66V17.34C28 20.7569 28 22.4654 27.3245 23.7658C26.7552 24.8617 25.8617 25.7552 24.7658 26.3245C23.4654 27 21.7569 27 18.34 27H11.66C8.24306 27 6.53458 27 5.23415 26.3245C4.13829 25.7552 3.24477 24.8617 2.67552 23.7658C2 22.4654 2 20.7569 2 17.34V10.66Z"
                    fill="white"></path>
                </g>
                <mask
                  id="mask0_110_851"
                  style="mask-type:alpha"
                  maskUnits="userSpaceOnUse"
                  x="2"
                  y="1"
                  width="26"
                  height="26">
                  <rect x="2" y="1" width="26" height="26" rx="6" fill="white"
                  ></rect>
                </mask>
                <g mask="url(#mask0_110_851)">
                  <rect
                    width="32"
                    height="32"
                    transform="translate(-1 -2)"
                    fill="white"></rect>
                  <g filter="url(#filter1_ddddd_110_851)">
                    <path
                      d="M6.90966 21L12.8723 4.85121H17.683L23.6683 21H18.6542L17.8637 18.6285H12.398L11.6075 21H6.90966ZM14.521 12.2142L13.4595 15.3762H16.8022L15.7858 12.2142L15.176 10.1363H15.1309C14.905 10.9945 14.7017 11.6872 14.521 12.2142Z"
                      fill="#141521"></path>
                    <path
                      d="M6.90966 21L6.48964 20.8449L6.26706 21.4477H6.90966V21ZM12.8723 4.85121V4.40348H12.5603L12.4523 4.69613L12.8723 4.85121ZM17.683 4.85121L18.1029 4.69561L17.9946 4.40348H17.683V4.85121ZM23.6683 21V21.4477H24.3117L24.0881 20.8444L23.6683 21ZM18.6542 21L18.2295 21.1416L18.3315 21.4477H18.6542V21ZM17.8637 18.6285L18.2885 18.4869L18.1864 18.1808H17.8637V18.6285ZM12.398 18.6285V18.1808H12.0753L11.9732 18.4869L12.398 18.6285ZM11.6075 21V21.4477H11.9302L12.0322 21.1416L11.6075 21ZM14.521 12.2142L14.0975 12.0689L14.0966 12.0717L14.521 12.2142ZM13.4595 15.3762L13.0351 15.2337L12.8369 15.8239H13.4595V15.3762ZM16.8022 15.3762V15.8239H17.4164L17.2285 15.2391L16.8022 15.3762ZM15.7858 12.2142L15.3561 12.3403L15.3596 12.3512L15.7858 12.2142ZM15.176 10.1363L15.6056 10.0102L15.5112 9.68853H15.176V10.1363ZM15.1309 10.1363V9.68853H14.7857L14.6979 10.0223L15.1309 10.1363ZM7.32968 21.1551L13.2923 5.0063L12.4523 4.69613L6.48964 20.8449L7.32968 21.1551ZM12.8723 5.29895H17.683V4.40348H12.8723V5.29895ZM17.2632 5.00681L23.2484 21.1556L24.0881 20.8444L18.1029 4.69561L17.2632 5.00681ZM23.6683 20.5523H18.6542V21.4477H23.6683V20.5523ZM19.079 20.8584L18.2885 18.4869L17.439 18.7701L18.2295 21.1416L19.079 20.8584ZM17.8637 18.1808H12.398V19.0762H17.8637V18.1808ZM11.9732 18.4869L11.1827 20.8584L12.0322 21.1416L12.8227 18.7701L11.9732 18.4869ZM11.6075 20.5523H6.90966V21.4477H11.6075V20.5523ZM14.0966 12.0717L13.0351 15.2337L13.884 15.5187L14.9455 12.3567L14.0966 12.0717ZM13.4595 15.8239H16.8022V14.9284H13.4595V15.8239ZM17.2285 15.2391L16.2121 12.0771L15.3596 12.3512L16.3759 15.5132L17.2285 15.2391ZM16.2155 12.0881L15.6056 10.0102L14.7464 10.2624L15.3562 12.3402L16.2155 12.0881ZM15.176 9.68853H15.1309V10.584H15.176V9.68853ZM14.6979 10.0223C14.4734 10.8754 14.2732 11.5564 14.0975 12.0689L14.9446 12.3594C15.1302 11.8179 15.3366 11.1136 15.5639 10.2502L14.6979 10.0223Z"
                      fill="#141521"></path>
                  </g>
                </g>
                <defs>
                  <filter
                    id="filter0_d_110_851"
                    x="0.75"
                    y="0.25"
                    width="28.5"
                    height="28.5"
                    filterUnits="userSpaceOnUse"
                    color-interpolation-filters="sRGB">
                    <feFlood flood-opacity="0" result="BackgroundImageFix"
                    ></feFlood>
                    <feColorMatrix
                      in="SourceAlpha"
                      type="matrix"
                      values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                      result="hardAlpha"></feColorMatrix>
                    <feOffset dy="0.5"></feOffset>
                    <feGaussianBlur stdDeviation="0.625"></feGaussianBlur>
                    <feColorMatrix
                      type="matrix"
                      values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.2 0"
                    ></feColorMatrix>
                    <feBlend
                      mode="normal"
                      in2="BackgroundImageFix"
                      result="effect1_dropShadow_110_851"></feBlend>
                    <feBlend
                      mode="normal"
                      in="SourceGraphic"
                      in2="effect1_dropShadow_110_851"
                      result="shape"></feBlend>
                  </filter>
                  <filter
                    id="filter1_ddddd_110_851"
                    x="0.882976"
                    y="4.85121"
                    width="28.812"
                    height="28.2021"
                    filterUnits="userSpaceOnUse"
                    color-interpolation-filters="sRGB">
                    <feFlood flood-opacity="0" result="BackgroundImageFix"
                    ></feFlood>
                    <feColorMatrix
                      in="SourceAlpha"
                      type="matrix"
                      values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                      result="hardAlpha"></feColorMatrix>
                    <feOffset dy="0.376667"></feOffset>
                    <feGaussianBlur stdDeviation="0.188334"></feGaussianBlur>
                    <feColorMatrix
                      type="matrix"
                      values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"
                    ></feColorMatrix>
                    <feBlend
                      mode="normal"
                      in2="BackgroundImageFix"
                      result="effect1_dropShadow_110_851"></feBlend>
                    <feColorMatrix
                      in="SourceAlpha"
                      type="matrix"
                      values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                      result="hardAlpha"></feColorMatrix>
                    <feOffset dy="0.753335"></feOffset>
                    <feGaussianBlur stdDeviation="0.376667"></feGaussianBlur>
                    <feColorMatrix
                      type="matrix"
                      values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"
                    ></feColorMatrix>
                    <feBlend
                      mode="normal"
                      in2="effect1_dropShadow_110_851"
                      result="effect2_dropShadow_110_851"></feBlend>
                    <feColorMatrix
                      in="SourceAlpha"
                      type="matrix"
                      values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                      result="hardAlpha"></feColorMatrix>
                    <feOffset dy="1.50667"></feOffset>
                    <feGaussianBlur stdDeviation="0.753335"></feGaussianBlur>
                    <feColorMatrix
                      type="matrix"
                      values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"
                    ></feColorMatrix>
                    <feBlend
                      mode="normal"
                      in2="effect2_dropShadow_110_851"
                      result="effect3_dropShadow_110_851"></feBlend>
                    <feColorMatrix
                      in="SourceAlpha"
                      type="matrix"
                      values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                      result="hardAlpha"></feColorMatrix>
                    <feOffset dy="3.01334"></feOffset>
                    <feGaussianBlur stdDeviation="1.50667"></feGaussianBlur>
                    <feColorMatrix
                      type="matrix"
                      values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"
                    ></feColorMatrix>
                    <feBlend
                      mode="normal"
                      in2="effect3_dropShadow_110_851"
                      result="effect4_dropShadow_110_851"></feBlend>
                    <feColorMatrix
                      in="SourceAlpha"
                      type="matrix"
                      values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                      result="hardAlpha"></feColorMatrix>
                    <feOffset dy="6.02668"></feOffset>
                    <feGaussianBlur stdDeviation="3.01334"></feGaussianBlur>
                    <feColorMatrix
                      type="matrix"
                      values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"
                    ></feColorMatrix>
                    <feBlend
                      mode="normal"
                      in2="effect4_dropShadow_110_851"
                      result="effect5_dropShadow_110_851"></feBlend>
                    <feBlend
                      mode="normal"
                      in="SourceGraphic"
                      in2="effect5_dropShadow_110_851"
                      result="shape"></feBlend>
                  </filter>
                </defs>
              </svg>
            </a>
            <h2
              class="font-medium mt-6 leading-tight text-black text-xl font-display">
              Sign up to Astro Saas
            </h2>
            <div class="py-3">
              <span class="w-full inline-flex relative mt-3 z-0"
                ><button
                  class="w-full focus:outline-none border py-3 bg-white border-gray-300 focus:border-indigo-500 focus:ring-1 focus:ring-indigo-500 focus:z-10 font-medium hover:bg-gray-50 inline-flex items-center justify-center px-4 relative rounded-xl text-gray-700 text-sm"
                  type="button"
                  ><span>Sign up with</span>
                  <span class="ml-3"
                    ><svg
                      fill="none"
                      height="24"
                      viewBox="0 0 32 32"
                      width="24"
                      xmlns="http://www.w3.org/2000/svg"
                      ><path
                        d="M30.0014 16.3109C30.0014 15.1598 29.9061 14.3198 29.6998 13.4487H16.2871V18.6442H24.1601C24.0014 19.9354 23.1442 21.8798 21.2394 23.1864L21.2127 23.3604L25.4536 26.58L25.7474 26.6087C28.4458 24.1665 30.0014 20.5731 30.0014 16.3109Z"
                        fill="#4285F4"></path><path
                        d="M16.2862 30C20.1433 30 23.3814 28.7555 25.7465 26.6089L21.2386 23.1865C20.0322 24.011 18.4132 24.5866 16.2862 24.5866C12.5085 24.5866 9.30219 22.1444 8.15923 18.7688L7.9917 18.7827L3.58202 22.1272L3.52435 22.2843C5.87353 26.8577 10.6989 30 16.2862 30Z"
                        fill="#34A853"></path><path
                        d="M8.16007 18.7688C7.85848 17.8977 7.68395 16.9643 7.68395 15.9999C7.68395 15.0354 7.85849 14.1021 8.1442 13.231L8.13621 13.0455L3.67126 9.64734L3.52518 9.71544C2.55696 11.6132 2.0014 13.7444 2.0014 15.9999C2.0014 18.2555 2.55696 20.3865 3.52518 22.2843L8.16007 18.7688Z"
                        fill="#FBBC05"></path><path
                        d="M16.2863 7.4133C18.9688 7.4133 20.7783 8.54885 21.8101 9.4978L25.8418 5.64C23.3657 3.38445 20.1434 2 16.2863 2C10.699 2 5.87354 5.1422 3.52435 9.71549L8.14339 13.2311C9.30223 9.85555 12.5086 7.4133 16.2863 7.4133Z"
                        fill="#EB4335"></path>
                    </svg>
                  </span>
                </button>
              </span><div class="py-3 relative">
                <div
                  class="flex absolute inset-0 items-center"
                  aria-hidden="true">
                  <div class="w-full border-t border-gray-300"></div>
                </div><div class="flex relative justify-center">
                  <span class="bg-white text-sm px-2 text-gray-500"
                    >Or continue with</span
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
        <form action="https://submit-form.com/r4PIGvAB">
          <input name="hidden" autocomplete="false" style="display:none" />
          <input name="_redirect" type="hidden" value="#" /><div
            class="space-y-6">
            <div class="w-full flex flex-row gap-3">
              <div class="w-full">
                <label class="sr-only" for="first_name">First name</label>
                <input
                  class="w-full focus:outline-none border py-3 appearance-none bg-gray-50 block border-gray-200 focus:bg-white focus:border-accent-500 focus:ring-accent-500 placeholder-gray-400 px-3 rounded-xl sm:text-sm text-accent-500"
                  id="first_name"
                  name="first_name"
                  autocomplete="given-name"
                  required=""
                />
              </div><div class="w-full">
                <label class="sr-only" for="last_name">Last name</label><input
                  class="w-full focus:outline-none border py-3 appearance-none bg-gray-50 block border-gray-200 focus:bg-white focus:border-accent-500 focus:ring-accent-500 placeholder-gray-400 px-3 rounded-xl sm:text-sm text-accent-500"
                  id="last_name"
                  name="last_name"
                  autocomplete="family-name"
                  required=""
                />
              </div>
            </div><div>
              <label class="sr-only" name="name"
                >User name or email Adress</label
              >
              <input
                class="w-full focus:outline-none border py-3 appearance-none bg-gray-50 block border-gray-200 focus:bg-white focus:border-accent-500 focus:ring-accent-500 placeholder-gray-400 px-3 rounded-xl sm:text-sm text-accent-500"
                placeholder="Type here..."
              />
            </div><div class="col-span-full">
              <label class="sr-only" name="company">Password</label>
              <input
                class="w-full focus:outline-none border py-3 appearance-none bg-gray-50 block border-gray-200 focus:bg-white focus:border-accent-500 focus:ring-accent-500 placeholder-gray-400 px-3 rounded-xl sm:text-sm text-accent-500"
                placeholder="Type password here..."
                type="password"
              />
            </div><div class="flex">
              <div class="flex items-start">
                <input
                  class="text-accent-500 focus:ring-accent-500 border-accent-500 h-4 rounded w-4"
                  id="remember-me"
                  name="remember-me"
                  type="checkbox"
                />
                <label
                  class="font-medium text-xs block leading-tight ml-2 text-gray-500"
                  for="remember-me"
                  >Creating an account means you’re okay with our <a
                    class="text-accent-500 hover:text-accent-400"
                    href="/terms"
                    >Terms of Service,
                  </a><a
                    class="text-accent-500 hover:text-accent-400"
                    href="/privacy"
                    >Privacy Policy
                  </a>, and our default <a
                    class="text-accent-500 hover:text-accent-400"
                    href="/notifications">Notification Settings.</a
                  >
                </label>
              </div>
            </div><div class="col-span-full">
              <button
                class="items-center justify-center rounded-xl focus-visible:outline-black focus:outline-none inline-flex bg-black border-2 border-black duration-200 focus-visible:ring-black hover:bg-transparent hover:border-black hover:text-black px-6 py-3 text-center text-white w-full"
                type="submit">Create an account</button
              >
            </div><div class="space-y-4">
              <p class="font-medium text-sm leading-tight text-black">
                Already a member? <a
                  class="text-accent-500 hover:text-accent-400 ml-3"
                  href="/login">Sign in</a
                >
              </p><p class="font-medium text-xs leading-tight text-gray-500">
                This site is protected by reCAPTCHA and the Google Privacy
                Policy and Terms of Service apply.
              </p>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
